/* background and border styling */

body {
    background-color: #fdf6ec;
    border: 1rem solid #fdf6ec;
}

.text {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    line-height: 32px;
}

.wood {
    background-image: url(../imgs/wood.jpg);
    padding-bottom: 3%;
    margin-bottom: 2%;
}

header a {
    color: #6e0725;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20%;
}

.title {
    text-align: center;
    padding-top: 8%;
}

.links {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

.links2 {
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
    color: #c42e20;
}

.caro {
    margin-top: 1em;
    margin-bottom: 5em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    max-width: 1020px;
}

.imgscaro {
    height: 600px;
    max-height: 600px;
    width: auto;
}

.slideshow {
    margin-left: auto;
    margin-right: auto;
}

.date {
    text-align: center;
    color: #eb2f2d;
    padding-bottom: 25px;
}

.sections {
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
}

.sections {
    color: #618295;
    text-decoration: none;
}

.imgLeft {
    margin-left: auto;
}

.imgRight {
    margin-right: auto;
    margin-bottom: 2rem;
}

.textLeft {
    margin-left: 1em;
}

.textRight {
    margin-right: 1em;
}

.timer {
    font-size: 3rem;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.partyPic {
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: left;
}

.partyText {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 991px) {
    .partyText {
        text-align: center;
    }

    .caro {
        width: 0%;
    }
}
