/* background and border styling */

body {
    background-color: #f7f6f1;
    /* border: 1rem solid #f7f6f1; */
    /* border: 1rem solid #fdf6ec; */
}

.text {
    font-family: 'Alegreya', serif;
    font-size: 20px;
    line-height: 32px;
}

/* .wood {
    background-image: url(../imgs/wood.jpg);
    padding-bottom: 3%;
    margin-bottom: 2%;
} */

header a {
    color: #6e0725;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 20%;
}

.topImage {
    width: 100%;
    height: auto;
    padding-bottom: 35px;
}

.title {
    text-align: center;
    padding-top: 2%;
}

.date {
    margin-bottom: .5rem;
}

.links {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
}

.links2 {
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
    color: #c42e20;
}

.registryHeading{
    text-align: center;
}

.registryList{
    margin-left: 45%;
    margin-right: 55%;
    padding-inline-start: 0px;
}

.registry {
    font-size: 1.25rem;
    color: #6e0725;
}

.registryText {
    padding-left: 15%;
    padding-right: 15%;
}

.sign {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: block;
}

.caro {
    margin-top: .5em;
    margin-bottom: 5em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-height: 1020px;
}

.imgscaro {
    width: auto;
    max-height: 650px;
}

.slideshow {
    margin-left: auto;
    margin-right: auto;
}

.date {
    text-align: center;
    color: #eb2f2d;
    padding-bottom: 25px;
}

.sections {
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}

.sections {
    color: #618295;
    text-decoration: none;
}

.imgLeft {
    margin-left: auto;
    height: auto;
}

.imgRight {
    margin-right: auto;
    margin-bottom: 2rem;
    height: auto;
}

.textLeft {
    margin-left: 1em;
}

.textRight {
    margin-right: 1em;
}

.dayName {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
    
}

.dayHeader {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2.3rem;
}


/* .timer {
    border: 5px ridge black;
    margin: 0px;
    padding: 0px;
}  */

.timepart {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
}

.test {
    text-align: center;
}

.partyHeading {
    font-family: 'Oswald', sans-serif;
    color: #618295;
    text-decoration: none;
    text-align: center;
}

.partyPic {
    border-radius: 12%;
    margin-top: px;
    margin-bottom: auto;
    padding: 20px 0;
    align-self: left;
    width: 100%;
    height: auto;
}

.partyText {
    text-align: left;
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

.picBack {
    background: grey;
}

.WPtexttest {
    margin: 4px;
}

.WPpictest {
    border-radius: 20%;
    display: block;
    margin: auto;
    padding: 20px 0;
    width: 45%;
    height: auto;
}

@media(max-width: 991px) {
    .partyText {
        text-align: center;
    }

    .byeElement {
        display: none;
    }

    .timer {
        font-size: 1.1rem;
    }
}

@media(min-width: 1335px) {
    .imgscaro {
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 500){
    .sign {
        min-width: 50px;
    }
    .partyPic {
        padding: 50px 0;
    }
}
